{% extends "layout.html" %}

{% block content %}

<div class="text-center py-5">

    <h1 class="display-3 fw-bold mb-3">
        STORAGE
    </h1>

    <p class="lead text-light-emphasis mb-4">
        A completely unnecessary file storage website built while learning
        FastAPI, SQLAlchemy, authentication, databases, deployment, and
        whatever else came up along the way.
    </p>

    <p class="text-secondary">
        This is mostly a project for experimenting with web
        development.
    </p>

</div>

{% endblock content %}